<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.1.0</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{3042.0,1783.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>ui.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,194.0}</string>
            <key>spriteOffset</key>
            <string>{18.0,116.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{866.0,495.0},{194.0,194.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2416.0,427.0},{194.0,194.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>10.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{195.0,194.0}</string>
            <key>spriteOffset</key>
            <string>{-12.5,-2.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{835.0,614.0},{195.0,194.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2646.0,199.0},{195.0,194.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>11.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-42.0,28.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{806.0,584.0},{194.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2808.0,786.0},{194.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>12.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-99.0,9.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{749.0,603.0},{194.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2612.0,591.0},{194.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>13.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{18.0,-17.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{866.0,629.0},{194.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2808.0,591.0},{194.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>14.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,196.0}</string>
            <key>spriteOffset</key>
            <string>{-39.0,6.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{809.0,604.0},{194.0,196.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2843.0,2.0},{194.0,196.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>15.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-84.0,115.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{764.0,497.0},{194.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2168.0,677.0},{194.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,194.0}</string>
            <key>spriteOffset</key>
            <string>{-24.0,15.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{824.0,596.0},{194.0,194.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2614.0,395.0},{194.0,194.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{195.0,195.0}</string>
            <key>spriteOffset</key>
            <string>{131.5,61.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{979.0,550.0},{195.0,195.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2646.0,2.0},{195.0,195.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{195.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-63.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{784.0,614.0},{195.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2810.0,396.0},{195.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{196.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-15.0,40.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{832.0,572.0},{196.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2416.0,232.0},{196.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>6.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{195.0,194.0}</string>
            <key>spriteOffset</key>
            <string>{-69.5,33.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{778.0,578.0},{195.0,194.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2843.0,200.0},{195.0,194.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>7.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-51.0,40.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{797.0,572.0},{194.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1972.0,677.0},{194.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>8.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-63.0,281.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{785.0,331.0},{194.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2416.0,623.0},{194.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>9.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{194.0,193.0}</string>
            <key>spriteOffset</key>
            <string>{-54.0,9.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{794.0,603.0},{194.0,193.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2612.0,786.0},{194.0,193.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>Now study!.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{892.0,168.0}</string>
            <key>spriteOffset</key>
            <string>{-57.0,143.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{442.0,481.0},{892.0,168.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2121.0,1309.0},{892.0,168.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>asking the way.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{676.0,274.0}</string>
            <key>spriteOffset</key>
            <string>{-24.0,65.0}</string>
            <key>spriteSourceSize</key>
            <string>{864.0,1536.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{70.0,566.0},{676.0,274.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1443.0,1137.0},{676.0,274.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>back to 首页.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{244.0,84.0}</string>
            <key>spriteOffset</key>
            <string>{-58.0,-18.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{765.0,685.0},{244.0,84.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2364.0,818.0},{244.0,84.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>check.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{816.0,70.0}</string>
            <key>spriteOffset</key>
            <string>{36.0,-59.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{573.0,733.0},{816.0,70.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1519.0,1702.0},{816.0,70.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>check点下.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{816.0,70.0}</string>
            <key>spriteOffset</key>
            <string>{-15.0,-118.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{522.0,792.0},{816.0,70.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1519.0,1630.0},{816.0,70.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
                <string>check点击效果.png</string>
            </array>
        </dict>
        <key>dinner party.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{677.0,274.0}</string>
            <key>spriteOffset</key>
            <string>{-20.5,182.0}</string>
            <key>spriteSourceSize</key>
            <string>{864.0,1536.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{73.0,449.0},{677.0,274.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1176.0},{677.0,274.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2416.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>next.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{136.0,58.0}</string>
            <key>spriteOffset</key>
            <string>{75.0,79.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{952.0,600.0},{136.0,58.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2362.0,904.0},{136.0,58.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>revise.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{148.0,57.0}</string>
            <key>spriteOffset</key>
            <string>{-51.0,54.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{820.0,626.0},{148.0,57.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2136.0,950.0},{148.0,57.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>shopping.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{676.0,276.0}</string>
            <key>spriteOffset</key>
            <string>{-5.0,76.0}</string>
            <key>spriteSourceSize</key>
            <string>{864.0,1536.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{89.0,554.0},{676.0,276.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2356.0,1031.0},{676.0,276.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>travelling.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{676.0,275.0}</string>
            <key>spriteOffset</key>
            <string>{17.0,212.5}</string>
            <key>spriteSourceSize</key>
            <string>{864.0,1536.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{111.0,418.0},{676.0,275.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{765.0,1137.0},{676.0,275.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>个人中心.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{74.0,65.0}</string>
            <key>spriteOffset</key>
            <string>{107.0,253.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1015.0,423.0},{74.0,65.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2356.0,964.0},{74.0,65.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>复习.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{68.0,94.0}</string>
            <key>spriteOffset</key>
            <string>{-193.0,14.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{718.0,647.0},{68.0,94.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2286.0,957.0},{68.0,94.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>字词练习.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{761.0,458.0}</string>
            <key>spriteOffset</key>
            <string>{-57.5,66.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{507.0,413.0},{761.0,458.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1209.0,677.0},{761.0,458.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>开关  开.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{162.0,77.0}</string>
            <key>spriteOffset</key>
            <string>{-10.0,187.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{854.0,483.0},{162.0,77.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1972.0,872.0},{162.0,77.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>开关 关.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{163.0,76.0}</string>
            <key>spriteOffset</key>
            <string>{-57.5,-49.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{806.0,720.0},{163.0,76.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2136.0,872.0},{163.0,76.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>情景对话.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{761.0,458.0}</string>
            <key>spriteOffset</key>
            <string>{-33.5,31.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{531.0,448.0},{761.0,458.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,716.0},{761.0,458.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>拓展1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{757.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{-68.5,-77.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{498.0,711.0},{757.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1439.0,1479.0},{757.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>拓展2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{757.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{68.5,171.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{635.0,463.0},{757.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1566.0},{757.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>拓展3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{756.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{-30.0,-50.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{537.0,684.0},{756.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{761.0,1630.0},{756.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>拓展4.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{756.0,150.0}</string>
            <key>spriteOffset</key>
            <string>{-61.0,83.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{506.0,550.0},{756.0,150.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{681.0,1414.0},{756.0,150.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>拓展5.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{757.0,149.0}</string>
            <key>spriteOffset</key>
            <string>{-44.5,-134.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{522.0,768.0},{757.0,149.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2198.0,1479.0},{757.0,149.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>挑战.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{59.0,83.0}</string>
            <key>spriteOffset</key>
            <string>{13.5,9.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{929.0,658.0},{59.0,83.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2301.0,872.0},{59.0,83.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>正确框弹出.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{1205.0,712.0}</string>
            <key>spriteOffset</key>
            <string>{-15.5,-56.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{327.0,409.0},{1205.0,712.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{1205.0,712.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>知识拓展.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{74.0,83.0}</string>
            <key>spriteOffset</key>
            <string>{383.0,-119.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{1291.0,786.0},{74.0,83.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2500.0,904.0},{74.0,83.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>设置.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{62.0,63.0}</string>
            <key>spriteOffset</key>
            <string>{21.0,155.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{935.0,522.0},{62.0,63.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2432.0,964.0},{62.0,63.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>错误框弹出.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{1205.0,673.0}</string>
            <key>spriteOffset</key>
            <string>{-15.5,13.0}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{327.0,359.0},{1205.0,673.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1209.0,2.0},{1205.0,673.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>首页.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{99.0,84.0}</string>
            <key>spriteOffset</key>
            <string>{-414.5,9.5}</string>
            <key>spriteSourceSize</key>
            <string>{1890.0,1417.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{481.0,657.0},{99.0,84.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1972.0,951.0},{99.0,84.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
