<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>元件 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10002</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10003</key>
			<dict>
				<key>frame</key>
				<string>{{412,0},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10004</key>
			<dict>
				<key>frame</key>
				<string>{{618,0},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10005</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10006</key>
			<dict>
				<key>frame</key>
				<string>{{206,218},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10007</key>
			<dict>
				<key>frame</key>
				<string>{{412,218},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10008</key>
			<dict>
				<key>frame</key>
				<string>{{618,218},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10009</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10010</key>
			<dict>
				<key>frame</key>
				<string>{{206,436},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10011</key>
			<dict>
				<key>frame</key>
				<string>{{412,436},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10012</key>
			<dict>
				<key>frame</key>
				<string>{{618,436},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10013</key>
			<dict>
				<key>frame</key>
				<string>{{0,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10014</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10015</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10016</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10017</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10018</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10019</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10020</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10021</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10022</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
			<key>元件 10023</key>
			<dict>
				<key>frame</key>
				<string>{{206,654},{206,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,218}}</string>
				<key>sourceSize</key>
				<string>{206,218}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>time.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>time.png</string>
		</dict>
	</dict>
</plist>
