<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.1.0</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{3930.0,1514.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>img.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>autumn.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{304.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>bed.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{304.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>below.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{606.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>bird.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{908.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>black.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1210.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>blue.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1512.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>book.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1814.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cattle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2116.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>chess.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2418.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>chicken.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2720.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>circle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3022.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cloud.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{245.0,191.0}</string>
            <key>spriteOffset</key>
            <string>{10.5,4.5}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{38.0,50.0},{245.0,191.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3377.0,1210.0},{245.0,191.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>cup.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{606.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>doctor.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{908.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>ear.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1210.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>east.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1512.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>electricity.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1814.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>eye.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2116.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>face.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2418.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>fire.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2720.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>flower.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3022.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>fruit.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3324.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>gold.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3626.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>green.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hand.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{304.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>home.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{606.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>lamp.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{908.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>land.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1210.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>left.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1512.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3147.0,1210.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>middle.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1814.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mountain.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2116.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>mouth.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2418.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>net.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2720.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>north.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3022.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>number.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3324.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>painting.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3626.0,606.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>paper.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>pen.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{304.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>people.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{606.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>rain.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{908.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>red.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1210.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>right.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1512.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>road.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1814.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sheep.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2116.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sky.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2418.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>snow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2720.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>soil.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3022.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>south.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3324.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>spring.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3626.0,908.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>square.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>summer.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{304.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>sun.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{606.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>thunder.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{908.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>time.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1210.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tree.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{230.0,262.0}</string>
            <key>spriteOffset</key>
            <string>{-2.0,-19.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{33.0,38.0},{230.0,262.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2720.0,1210.0},{230.0,262.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>upper.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1512.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>water.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{1814.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>west.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2116.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>white.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{193.0,251.0}</string>
            <key>spriteOffset</key>
            <string>{9.5,4.5}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{63.0,20.0},{193.0,251.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2952.0,1210.0},{193.0,251.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>wind.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2418.0,1210.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>window.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3324.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>winter.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{3626.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>wood.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,304.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>yellow.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{300.0,300.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{300.0,300.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{300.0,300.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
